.container {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    row-gap: 2rem;
}

.reply {
    background: rgb(189, 186, 186);
    padding: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    width: 35vw;
}

.allReply {
    height: 65vh;
    overflow-y: scroll;
}